body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    text-align: center;
    font-family: 'Roboto', arial;
  }

  /* Navbar */

  .navbar{
    background: #1f2937;
    display: flex;
    padding: 20px 0 20px 100px;
    margin: auto;
    align-items: center;
  }
  .logo{
    font-size: 24px;
    color: #F9FAF8;
  }
  .logo img{
    width: 84px;
    height: 84px;
    margin-right: auto;
  }

  .links{
    /*Removes the bullet from links*/
    list-style-type: none;
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
  }

  a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
  }


  /* First Container */
  .first{
    display: flex;
    color: #F9FAF8;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
  }
  .first-container{
    /* Makes space between img and header*/
    flex-basis: 400px;

    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
  }
 
  .first-img img{
    width: 600px;
    height: 450px;

  }

  .first-header{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
  }
  .first-header-text{
    font-family: 'Roboto', arial;
    opacity: 0.8;
  }

 .first-button{
    display: block;
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto', arial;
    text-decoration: none;
    text-align: center;
    width: 110px;
    background: rgb(10, 102, 194);
    border: none;
    padding: 10px;
    border-radius: 10px;
 }

 /* Projects showcase */
.second-container{
    display: flex;
    justify-content: center;
    gap: 52px;
}
 .info{
    max-width: 200px;
 }
 .info img{
    width: 100px;
    height: 100px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
 }

 /* Quote */
 .hero{
 background-color: #E5E7EB;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 90px;
 flex-direction: column;
 }

 .quote{
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
 }